#root {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    margin: 0;
    padding: 0;
    --card_width: 10rem;
    --card_height: 17rem;
}
.App {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}
button {
    color: var(--text);
    border: none;
    border-radius: 0.3rem;
    padding: 0.3rem;
    margin: 0.3rem;
    cursor: pointer;
    height: 1.7rem;
    min-width: fit-content;
    transition: background-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    background-color: var(--primary);
    border: none;
    border-radius: 0.3rem;
}
button:hover {
    background-color: var(--accent);
    color: var(--text-hover);
    scale: 1.1;
}
button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
.button-s {
    background-color: var(--secondary);
}
.button-s:hover {
    background-color: var(--secondary-hover);
}
a {
    color: var(--background);
    transition: color 0.2s ease-in-out;
}
a:hover {
    color: var(--text);
}
.emptyDivNav {
    grid-area: nav;
    height: 2rem;
    background-color: red;
}
.unitButton {
    background-color: var(--primary);
    color: var(--text);
    border: none;
    border-radius: 0.3rem;
    height: 1.7rem;
    aspect-ratio: 1;
    cursor: pointer;
    transition: scale 0.2s ease-in-out;
}
.unitButton:hover {
    background-color: var(--accent);
    color: var(--text-hover);
    scale: 1.1;
}
