:root {
    --background-image: url("./assets/wood.png");
    --card-border-radius: 0.6rem;
    --card-padding: 0rem;
    --card-height: 11rem;
    --card-width: 10rem;
    /************* Light Palette *************/

    --text-light: #000;
    --text-light-hover: var(--text-dark);
    --text-light-decimal-rgb: 0, 0, 0;

    --background-light: #cec1a9;
    --background-light-hover: var(--background-dark);
    --background-light-decimal-rgb: 245, 245, 245;

    --secondary-light: #d4cbc0;
    --secondary-light-hover: var(--secondary-dark);
    --secondary-light-decimal-rgb: 207, 207, 207;

    --primary-light: #e7e7e7;
    --primary-light-hover: var(--primary-dark);
    --primary-light-decimal-rgb: 231, 231, 231;

    --accent-light: #ff6a00;
    --accent-light-hover: var(--accent-dark);
    --accent-light-decimal-rgb: 255, 106, 0;

    /************* Dark Palette *************/
    --text-dark: rgb(219, 201, 172);
    --text-dark-hover: var(--text-light);
    --text-dark-decimal-rgb: 255, 255, 255;

    --background-dark: #0a0a0a;
    --background-dark-hover: var(--background-light);
    --background-dark-decimal-rgb: 10, 10, 10;

    --secondary-dark: #303030;
    --secondary-dark-hover: var(--secondary-light);
    --secondary-dark-decimal-rgb: 48, 48, 48;

    --primary-dark: #181818;
    --primary-dark-hover: var(--primary-light);
    --primary-dark-decimal-rgb: 24, 24, 24;

    --accent-dark: #cc671f;
    --accent-dark-hover: var(--accent-light);
    --accent-dark-decimal-rgb: 204, 103, 31;

    /* ************* Common ************* */
    --background: var(--background-dark);
    --background-reverse: var(--background-light);
    --background-hover: var(--background-dark-hover);
    --background-decimal-rgb: var(--background-dark-decimal-rgb);
    --text: var(--text-dark);
    --text-hover: var(--text-dark-hover);
    --text-decimal-rgb: var(--text-dark-decimal-rgb);
    --secondary: var(--secondary-dark);
    --secondary-hover: var(--secondary-dark-hover);
    --secondary-decimal-rgb: var(--secondary-dark-decimal-rgb);
    --primary: var(--primary-dark);
    --primary-hover: var(--primary-dark-hover);
    --primary-decimal-rgb: var(--primary-dark-decimal-rgb);
    --accent: var(--accent-dark);
    --accent-hover: var(--accent-dark-hover);
    --accent-decimal-rgb: var(--accent-dark-decimal-rgb);

    color-scheme: light dark;
    color: var(--text);
    background-color: var(--background);
    box-sizing: border-box;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    /* For WebKit browsers */
    text-size-adjust: 100%;
    /* For other modern browsers */
}

body {
    margin: 0;
    padding: 0;
    color: var(--text);
    background-color: var(--background);
    height: 10rem;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    max-height: 100%;
}

@media (prefers-color-scheme: light) {
    :root {
        --browneish: #ffffff;
        --background: var(--background);
        --background-reverse: var(--background-dark);
        --background-hover: var(--background-light-hover);
        --background-decimal-rgb: var(--background-light-decimal-rgb);
        --text: var(--text-light);
        --text-hover: var(--text-light-hover);
        --text-decimal-rgb: var(--text-light-decimal-rgb);
        --secondary: var(--secondary-light);
        --secondary-hover: var(--secondary-light-hover);
        --secondary-decimal-rgb: var(--secondary-light-decimal-rgb);
        --primary: var(--primary-light);
        --primary-hover: var(--primary-light-hover);
        --primary-decimal-rgb: var(--primary-light-decimal-rgb);
        --accent: var(--accent-light);
        --accent-hover: var(--accent-light-hover);
        --accent-decimal-rgb: var(--accent-light-decimal-rgb);
    }
}