.card {
    height: 17rem;
    border-radius: 0.6rem;
    border: solid 0.1rem var(--accent);
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
    background-color: var(--primary);
    height: 100%;
    /*
    width: 10rem;
    max-width: 20rem;
    margin: 1rem; */
}
.cardImage {
    width: 70%;
    margin: 0.7rem;
    border-radius: 0.6rem;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: top;
}
.cardData {
    display: flex;
    flex-flow: column nowrap;
    height: fit-content;
    max-height: 45%;
    color: var(--text);
    justify-content: flex-start;
    align-items: center;
    font-size: small;
    margin: 0rem;
    text-align: center;
}
.cardName {
    font-size: medium;
    font-weight: bold;
    margin: 0.2rem;
}
.cardTemperaments {
    font-size: small;
    margin: 0.2rem;
}
.cardWeight {
    font-size: small;
    margin: 0.2rem;
}
