.pagination {
    grid-area: pagination;
    background-color: var(--secondary);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
