.home-page {
    max-height: fit-content;
    height: 100vh;
    max-width: 100%;
    position: relative;
    width: 100vw;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}