.filters {
    justify-self: center;
    translate: 0rem 3rem;
    height: 2rem;
    z-index: 999999;
    width: 80ch;
    background-color: var(--accent);
    border-radius: 1rem;
    text-align: center;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem 0 0.5rem;
    position: absolute;
    gap: 1rem;
}