.container {
    flex: 1 1 0%;
    padding: 3rem 0 3rem 0;

    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;

}

.box {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    gap: 1rem;
}