.detailsContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 80%;
    max-width: 1200px;
    margin-inline: auto;
    margin-top: 2rem;
    border-radius: 1rem;
    padding: 2rem;
    background-color: var(--primary);
}
/*  */

.detailsContainer > :first-child {
    background-color: var(--background-dark);
    color: var(--text-dark);
    border-radius: 0.6rem;
    flex-basis: 0;
    height: fit-content;
    flex-grow: 9999;
}
.detailsContainer > :last-child {
    flex-basis: 300;
    height: 14rem;
    overflow-y: scroll;
    flex-grow: 1;
}

.detailsTitle {
    font-size: 1.7rem;
    margin: 0;
    padding: 0;
    width: fit-content;
}
.detailsData {
    max-width: 30rem;
}
.detailsId {
    display: flex;
    align-items: center;
    flex-flow: row;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    width: fit-content;
    color: var(--text);
    opacity: 0.3;
}
.detailsName {
    margin-top: 0;
    font-size: 1.5rem;
    text-decoration: underline wavy;
}
.imageContainer {
    width: 30%;
}

.dogImage {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 0.6rem;
    object-fit: cover;
    object-position: center;
}
