.detailsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    min-height: 100vh;
    background-color: var(--background);
}

@media screen and (max-width: 768px) {
    .detailsBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
    }
    .detailsData {
        width: 100%;
    }
}
.detailsBox {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
    padding: 2rem;
    border-radius: 0.6rem;
}
.detailsData {
    width: 20rem;
}
.imageContainer {
}
.dogImage {
    width: var(--card_width);
    aspect-ratio: 1;
    border-radius: 0.6rem;
    object-fit: cover;
    object-position: center;
}
/* <section className="detailsPage">
            <div className="emptyDivNav"></div>
            <div className="detailsBox">
                <div className="detailsBox">
                    <img
                        src={image}
                        alt={name + " image"}
                        className="dogImage"
                    />
                    <h1 className="name">{name}</h1>
                    <h2 className="temperaments">
                        {temperaments.map((t) => t + ", ")}
                    </h2>
                    {units === "metric" ? (
                        <h3 className="weight">{weight} kg</h3>
                    ) : (
                        <h3 className="weight">{weight_imperial} lbs</h3>
                    )}
                    {units === "metric" ? (
                        <h3 className="height">{height} cm</h3>
                    ) : (
                        <h3 className="height">{height_imperial} in</h3>
                    )}
                    <h3 className="life_span">{life_span}</h3>
                </div>
            </div>
        </section> */
