.homePage {
    width: 100vw;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    max-height: 100%;
    grid-template-rows: 2rem 1fr 2rem;
    grid-template-areas:
        "nav"
        "cards"
        "pagination";
}
